<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
    {{ block "additionalhead" . }}{{ end }}
    <script>
      window.addEventListener("load", () => {
        document.querySelectorAll("details").forEach((details) => {
          const pdfpage = document.body.classList.contains('acendpdfbody');
          if (true === pdfpage) {
            details.setAttribute("open", "true");
            details.classList.add("normalmode");
          }
        });
      });
      function substitutePdfVariables() {
  
          function getParameterByName(name) {
              var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
              return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
          }
  
          function substitute(name) {
              var value = getParameterByName(name);
              var elements = document.getElementsByClassName(name);
  
              for (var i = 0; elements && i < elements.length; i++) {
                  elements[i].textContent = value;
              }
          }
  
          ['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection']
              .forEach(function(param) {
                  substitute(param);
              });
      }
    </script>
  </head>
  <body class="td-{{ .Kind }} td-blog acendpdfbody" onload="substitutePdfVariables()">
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <main class="col-12 col-md-9 col-xl-8 pl-md-5 pr-md-4" role="main">
            {{ block "pdftitle" . }}{{ end }}
            {{ block "main" . }}{{ end }}
          </main>
        </div>
      </div>
      {{ block "footer" . }}{{ end }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
