{{ define "main" }}
<div class="td-content">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <style type = "text/css">
        code { font-family: 'Inconsolata', monospace; }
    </style>
    {{ range .Site.Sections }}
        <!-- only render labs section -->
        {{if and (eq .Type "docs")}}
            <!-- 1st-level pages, e.g. content/en/setup/_index.md and content/en/docs/_index.md -->
            <!-- These pages are the 1st-level in the toc -->
            {{- if site.Params.automaticSectionNumbers -}}
                {{- $sectionnumbers := partialCached "sectionnumber.html" . -}}
                <h1 class="pdf-break-before" id="{{ substr .RelPermalink 1 -1 }}" style="font-weight: bold;">{{ $sectionnumbers.Get .File.Path }} {{ .Title }}</h1>
            {{- else -}}
                <h1 class="pdf-break-before" id="{{ substr .RelPermalink 1 -1 }}" style="font-weight: bold;">{{ .Title }}</h1>
            {{- end -}}
            <!-- dirty hack to have a nice table of contents -->
            <!-- h-tags are simulated by p-tags in order to not appear in the toc -->
            <!-- and the hierarchy of the headers is decremented by one -->
            {{ $content := .Content }}
            {{ $content := replace $content "<h6" "<p"}}
            {{ $content := replace $content "</h6" "</p"}}
            {{ $content := replace $content "<h5" "<p style=\"display: block; font-size: 1.3em; margin-top: 0.2em; margin-bottom: 0.2em;margin-left: 0; margin-right: 0;\""}}
            {{ $content := replace $content "</h5" "</p"}}
            {{ $content := replace $content "<h4" "<p style=\"display: block; font-size: 1.4em; margin-top: 0.2em; margin-bottom: 0.2em;margin-left: 0; margin-right: 0;\""}}
            {{ $content := replace $content "</h4" "</p"}}
            {{ $content := replace $content "<h3" "<p style=\"display: block; font-size: 1.6em; margin-top: 1em; margin-bottom: 0.7em;margin-left: 0; margin-right: 0;\""}}
            {{ $content := replace $content "</h3" "</p"}}
            {{ $content := replace $content "<h2" "<p style=\"display: block; font-size: 2em; margin-top: 1em; margin-bottom: 0.6em;margin-left: 0; margin-right: 0;\""}}
            {{ $content := replace $content "</h2" "</p"}}
            <!-- Replace youtube iframe with link -->
            {{ $content := replaceRE `<iframe\s+src=(".*?").*?<\/iframe>` "<a href=$1>Link to youtube video</a>" $content }}
            {{ $content | safeHTML }}
            {{ range (union .Pages .Sections)}}
                {{ $onlyWhen := default "base" .Params.onlyWhen }}
                {{ if and (in .Site.Params.enabledModule $onlyWhen) (not (in .Site.Params.enabledModule .Params.onlyWhenNot)) }}
                    <!-- 2nd-level pages like content/en/docs/01/_index.md -->
                    <!-- but also pages like content/en/docs/concurrency.md -->
                    <!-- These pages are the 2nd-level in the toc -->
                    {{- if site.Params.automaticSectionNumbers -}}
                        {{- $sectionnumbers := partialCached "sectionnumber.html" . -}}
                        <h2 class="pdf-break-before" id="{{ substr .RelPermalink 1 -1 }}" style="font-size: 2em; font-weight: bold;">{{ $sectionnumbers.Get .File.Path }} {{ .Title }}</h2>
                    {{- else -}}
                        <h2 class="pdf-break-before" id="{{ substr .RelPermalink 1 -1 }}" style="font-size: 2em; font-weight: bold;">{{ .Title }}</h2>
                    {{- end -}}
                    <!-- dirty hack to have a nice table of contents -->
                    <!-- h-tags are simulated by p-tags in order to not appear in the toc -->
                    <!-- and the hierarchy of the headers is decremented by one, i.e. h3 is now h4 -->
                    {{ $content := .Content }}
                    {{ $content := replace $content "<h6" "<p"}}
                    {{ $content := replace $content "</h6" "</p"}}
                    {{ $content := replace $content "<h5" "<p style=\"display: block; font-size: 1.3em; margin-top: 0.2em; margin-bottom: 0.2em;margin-left: 0; margin-right: 0;\""}}
                    {{ $content := replace $content "</h5" "</p"}}
                    {{ $content := replace $content "<h4" "<p style=\"display: block; font-size: 1.4em; margin-top: 0.2em; margin-bottom: 0.2em;margin-left: 0; margin-right: 0;\""}}
                    {{ $content := replace $content "</h4" "</p"}}
                    {{ $content := replace $content "<h3" "<p style=\"display: block; font-size: 1.6em; margin-top: 1em; margin-bottom: 0.7em;margin-left: 0; margin-right: 0;\""}}
                    {{ $content := replace $content "</h3" "</p"}}
                    {{ $content := replace $content "<h2" "<p style=\"display: block; font-size: 2em; margin-top: 1em; margin-bottom: 0.6em;margin-left: 0; margin-right: 0;\""}}
                    {{ $content := replace $content "</h2" "</p"}}
                    <!-- Replace youtube iframe with link -->
                    {{ $content := replaceRE `<iframe\s+src=(".*?").*?<\/iframe>` "<a href=$1>Link to youtube video</a>" $content }}
                    {{ $content | safeHTML }}
                    {{ range .Pages }}
                        {{ $onlyWhen := default "base" .Params.onlyWhen }}
                        {{ if and (in .Site.Params.enabledModule $onlyWhen) (not (in .Site.Params.enabledModule .Params.onlyWhenNot)) }}
                            <!-- 3rd-level pages like content/en/docs/05/helm.md -->
                            <!-- These pages do not appear in the toc -->
                            {{- if site.Params.automaticSectionNumbers -}}
                                {{- $sectionnumbers := partialCached "sectionnumber.html" . -}}
                                <p id="{{ substr .RelPermalink 1 -1 }}" style="display: block; font-size: 2em; margin-top: 1em; margin-bottom: 0.6em;margin-left: 0; margin-right: 0; font-weight: bold;">{{ $sectionnumbers.Get .File.Path }} {{ .Title }}</p>
                            {{- else -}}
                                <p id="{{ substr .RelPermalink 1 -1 }}" style="display: block; font-size: 2em; margin-top: 1em; margin-bottom: 0.6em;margin-left: 0; margin-right: 0; font-weight: bold;">{{ .Title }}</p>
                            {{- end -}}
                            <!-- dirty hack to have a nice table of contents -->
                            <!-- h-tags are simulated by p-tags in order to not appear in the toc -->
                            <!-- and the hierarchy of the headers is decremented by two, i.e. h3 is now h5 -->
                            {{ $content := .Content }}
                            {{ $content := replace $content "<h6" "<p"}}
                            {{ $content := replace $content "</h6" "</p"}}
                            {{ $content := replace $content "<h5" "<p style=\"display: block; font-size: 1.3em; margin-top: 0.2em; margin-bottom: 0.2em;margin-left: 0; margin-right: 0;\""}}
                            {{ $content := replace $content "</h5" "</p"}}
                            {{ $content := replace $content "<h4" "<p style=\"display: block; font-size: 1.4em; margin-top: 0.2em; margin-bottom: 0.2em;margin-left: 0; margin-right: 0;\""}}
                            {{ $content := replace $content "</h4" "</p"}}
                            {{ $content := replace $content "<h3" "<p style=\"display: block; font-size: 1.6em; margin-top: 1em; margin-bottom: 0.7em;margin-left: 0; margin-right: 0;\""}}
                            {{ $content := replace $content "</h3" "</p"}}
                            {{ $content := replace $content "<h2" "<p style=\"display: block; font-size: 2em; margin-top: 1em; margin-bottom: 0.6em;margin-left: 0; margin-right: 0;\""}}
                            {{ $content := replace $content "</h2" "</p"}}
                            <!-- Replace youtube iframe with link -->
                            {{ $content := replaceRE `<iframe\s+src=(".*?").*?<\/iframe>` "<a href=$1>Link to youtube video</a>" $content }}
                            {{ $content | safeHTML }}
                            <div class="pdf-break-after"></div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
</div>
{{ end }}
{{ define "footer" }}
{{ end }}
{{ define "pdftitle" }}
<div class="pdf-title">
    <p>{{ .Site.Params.title }}</p>
</div>
<div class="pdf-break-after"></div>
{{ end }}