{{ $navRoot := cond (and (ne .Params.toc_root true) (eq .Site.Home.Type "docs")) .Site.Home .FirstSection -}}
{{ $data := newScratch }}
{{ $data = partial "sectionnumber-nested" (dict "page" . "section" $navRoot "data" $data) }}
{{ return $data }}

{{ define "partials/sectionnumber-nested" -}}
{{ $s := .section }}
{{ $p := .page }}
{{ $d := .data }}
{{ $sectionNr := .sectionNr | default "" }}
{{ $pages := (union .section.Pages $s.Sections).ByWeight -}}
{{ $withChild := gt (len $pages) 0 -}}
  {{ $sectionNr }}{{ $s }}
  {{ .data.Set $s.File.Path $sectionNr }}
  {{- if $withChild }}
    {{ $count := 0 }}
    {{ range $pages -}}
      {{ $onlyWhen := default "base" .Params.onlyWhen }}
      {{ if and (in .Site.Params.enabledModule $onlyWhen) (not (in .Site.Params.enabledModule .Params.onlyWhenNot)) }}
      {{ if (not (and (eq $s $p.Site.Home) (eq .Params.toc_root true))) -}}
        {{ $count = add $count 1 }}
        {{ $newSectionNr := printf "%s%d." $sectionNr $count }}
        {{ $d = partial "sectionnumber-nested" (dict "page" $p "section" . "sectionNr" $newSectionNr "data" $d) }}
      {{- end }}
      {{- end }}
      {{- end }}
    {{- end }}
    {{ return $d }}
{{- end }}
