{{ $options := dict "enableSourceMap" .Site.IsServer }}
{{ $cssSite := resources.Get "scss/site.scss" | toCSS $options }}
{{ if not .Site.IsServer }}
    {{/* Note the missing postCSS. This makes it snappier to develop in Chrome, but makes it look sub-optimal in other browsers. */}}
    {{ $cssSite = $cssSite | postCSS | minify }}
{{ end }}
{{/* Also fingerprint locally, to invalidate cache */}}
{{ $cssSite = $cssSite | fingerprint }}

<link href="{{ $cssSite.Permalink }}" rel="stylesheet" integrity="{{ $cssSite.Data.integrity }}">

{{/* Allow trainings to add more CSS */}}
{{ partial "hooks/head-end-custom.html" . }}
